@charset "UTF-8";

/*
    Paleta de Cores:
    Verde: #3BF595
    Laranja: #F5B53B
    Roxo: #B33BF5
*/

:root {
    --cor-principal: #3BF595;
    --cor-secundaria: #bdffde;
    --cor-destaque: #B33BF5;
    --cor-destaque2: #6900a2;
    --cor-auxiliar: #F5B53B;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor-principal);
    height: 100vh;
    width: 100vw;
}

body {
        background-image: linear-gradient(to bottom, var(--cor-principal), var(--cor-destaque));
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 300px;
    height: 585px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.450);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
    
}

section#login > div#imagem {
    display: block;
    background: var(--cor-principal) url(../assets/images/pexels-francesco-sgura-2572136-4161916\ \(1\).jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    opacity: 0.85;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

div#form > h1 {
    text-align: center;
    margin-bottom: 15px;
}

div#form > p {
    font-size: 1em;
    margin-bottom: 20px;
    font-style: italic;
    text-align: center;
}

form > div.campo {
    display: block;
    background-color: var(--cor-auxiliar);
    border: 2px solid var(--cor-auxiliar);
    width: 100%;
    height: 40px;
    margin: 8px 0px; 
    border-radius: 10px;
}

div.campo > label {
    display: none;
}

div.campo > i {
    color: white;
    font-size: 1.5em;
    width: 30px;
    padding: 5px;
}

div.campo > input {
    background-color: #fdf9f2;
    font-size: 1.03em;
    width: calc(100% - 35px);
    height: 95%;
    border: none;
    border-radius: 10px;
    padding: 5px;
    transform: translateY(-4px);
    
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1.1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor-destaque);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 20px; 
    cursor: pointer; 
    margin-top: 8px;
}

form > input[type=submit]:hover {
    background-color: var(--cor-destaque2);  
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1.1em;
    width: 100%;
    height: 35px;
    padding-top: 3px;
    margin-top: 30px;
    text-decoration: none;
    background-color: white;
    color: var(--cor-destaque2);
    font-weight: 500;
    border: 1.5px solid var(--cor-auxiliar);
    border-radius: 10px;
}

form > a.botao:hover {
    background-color: var(--cor-auxiliar);
}

form > a.botao > i {
    font-size: 0.8em;
}










